[access]
	inheritFrom = All-Projects
[submit]
	rejectEmptyCommit = true
[project]
	description = C-Kermit: Portable OPEN SOURCE Scriptable Network and Serial Communication Software for Unix and VMS
[access "refs/*"]
	owner = group user/Jeffrey Altman (jaltman)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Jeffrey Altman (jaltman)
	label-Verified = -1..+1 group user/Jeffrey Altman (jaltman)
	push = group user/Jeffrey Altman (jaltman)
	read = group user/Jeffrey Altman (jaltman)
	rebase = group user/Jeffrey Altman (jaltman)
	removeReviewer = group user/Jeffrey Altman (jaltman)
	submit = group user/Jeffrey Altman (jaltman)
[access "refs/heads/*"]
	create = group user/Jeffrey Altman (jaltman)
	push = +force group user/Jeffrey Altman (jaltman)
	pushMerge = group user/Jeffrey Altman (jaltman)
	read = group user/Jeffrey Altman (jaltman)
[access "refs/tags/*"]
	push = group user/Jeffrey Altman (jaltman)
	push = +force group user/Jeffrey Altman (jaltman)
[receive]
	requireChangeId = true
[reviewer]
	enableByEmail = true
